extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        if type=='outer'
          li.nav-item.active
            a.nav-link.active(href='/favorite?type=outer')
              | 아우터
        else
          li.nav-item
            a.nav-link(href='/favorite?type=outer')
              | 아우터
        if type=='top'
          li.nav-item.active
            a.nav-link.active(href='/favorite?type=top')
              | 상의
        else
          li.nav-item
            a.nav-link(href='/favorite?type=top')
              | 상의
        if type=='pants'
          li.nav-item.active
            a.nav-link.active(href='/favorite?type=pants')
              | 하의
        else
          li.nav-item
            a.nav-link(href='/favorite?type=pants')
              | 하의
        if type=='shoes'
          li.nav-item.active
            a.nav-link.active(href='/favorite?type=shoes')
              | 신발
        else
          li.nav-item
            a.nav-link(href='/favorite?type=shoes')
              | 신발
        if type=='hat'
          li.nav-item.active
            a.nav-link.active(href='/favorite?type=hat')
              | 모자
        else
          li.nav-item
            a.nav-link(href='/favorite?type=hat')
              | 모자
              //if type=='hat'
                span.sr-only (current)
  table(class='table')
    thead
      tr
        //th='#'
        th
          | 이미지
        th
          | 이름
        th
          | 브랜드
        th
          | 성별
        th
          | 시즌
        th
          | 출시일
        th
          | 판매량
        th
          | 가격
    each val in list
      tr
        td(width=120)
          img(class='img-thumbnail', width=100, src=val.img)
        td
          =val.name
        td
          =val.brand
        td
          =val.gender
        td
          =val.season
        td
          =val.release_year
        td
          =val.sales_count
        td
          =val.price

  div.container
    ul.pagination
      -var startPage = parseInt((page-1) / 10) * 10 +1
      if page >= 10
        li.page-item
          a.page-link(href='/favorite?type='+type+'&page='+(startPage-1)) &laquo;
      -for(var i=startPage; i<startPage+10; i++) 
        if i == page
          li.page-item.active
            a.page-link(href='/favorite?type='+type+'&page='+i)
              =i
        else
          li.page-item
            a.page-link(href='/favorite?type='+type+'&page='+i)
              =i
      li.page-item
        a.page-link(href='/favorite?type='+type+'&page='+(startPage+10)) &raquo;
          
