doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Hugo 0.88.1')
  title title name
  link(rel='canonical' href='https://getbootstrap.com/docs/5.1/examples/headers/')
  // Bootstrap core CSS
  link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='headers.css' rel='stylesheet')
body
  main
    .container
      header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
        a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='/')
          svg.bi.me-2(width='40' height='32')
            use(xlink:href='#bootstrap')
          span.fs-4 Simple header
        ul.nav.nav-pills
          li.nav-item
            //a.nav-link.active(href='#' aria-current='page') Home
            if currentTab == 'home'
              a(class='nav-link active' href='/list' aria-current='page') 홈
            else
              a(class='nav-link' href='/list' aria-current='page') 홈
          li.nav-item
            if currentTab == 'bookmark'
              a(class='nav-link active' href='/mypage' aria-current='page') 즐겨찾기
            else
              a(class='nav-link' href='/mypage' aria-current='page') 즐겨찾기
          li.nav-item
            if currentTab == 'recommend'
              a(class='nav-link active' href='/mypage' aria-current='page') 추천목록
            else
              a(class='nav-link' href='/mypage' aria-current='page') 추천목록
          li.nav-item
            if currentTab == 'mypage'
              a(class='nav-link active' href='/mypage' aria-current='page') 마이 페이지
            else
              a(class='nav-link' href='/mypage' aria-current='page') 마이 페이지
      block content
  script(src='/javascript/bootstrap/bootstrap.bundle.min.js')  
