extends layout

block content
  table(class='table table-bordered')
    each val in list
      tr
        th(scope='col')
          table(class='table table-borderless')
            tr
              th
                | 이미지 파일
              th
                =val.name
              th
                =val.desc
          
